extends ../../dashboard/views/extends/layout

block head
  title
    | Example

block css-includes
  include ../../dashboard/views/includes/css-includes

block content
  h1 Example Module
  p This is an example module.

block js-includes
  include ../../dashboard/views/includes/js-includes
