
body {
  font-family: "Helvetica Neue", "Helvetica", "sans-serif";
}

.current-tasks {
  padding-left: 0px;
}

.current-tasks .task-list-item {
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.current-tasks li {
  background-color: #FFFFFF;
  list-style-type: none;
}

.current-tasks li :hover {
  --webkit-transition: background-color 0.2s ease;
  --moz-transition: background-color 0.2s ease;
  --o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  background-color: #EEEEEE;
}
