extends extends/layout

block head
  title
    | Jitsuyo

block content
  h1
    | Dashboard
  ul
    li
      a(href = "/example")
        | Example
    li
      a(href = "/tasker")
        | Tasker

block includes
  include includes/includes
