extends extends/layout

block head
  title
    | Jitsuyo

block css-includes
  include includes/css-includes
  link(rel = "stylesheet", href = "/static/css/dashboard.css")

block content
  .container
    .row
      .col-md-12
        h1
          | Dashboard
        ul
          li
            a(href = "/example")
              | Example
          li
            a(href = "/tasker")
              | Tasker

block js-includes
  include includes/js-includes
