extends extends/layout

block head
  title
    | Jitsuyo

block css-includes
  include includes/css-includes

block content
  h1
    | Dashboard
  ul
    li
      a(href = "/example")
        | Example
    li
      a(href = "/tasker")
        | Tasker

block js-includes
  include includes/js-includes
