doctype html
html
  head
    title = Tasker
  body
    h1 Tasker
    h2 Current Tasks
    ul.current-tasks
    input.hide
    button.btn.add-current-task
      | Add Task
    script(src = "/static/js/tasker.js")
    script(type = "text/javascript").
      console.log(Tasker);
