extends ../../dashboard/views/extends/layout

block head
  title
    | Tasker

block content
  .container
    .row
      .col-md-12
        h1 Tasker
    .row
      .col-md-12
        h2 Current Tasks
        ul.current-tasks
        form.form-horizontal.add-task.hide(role = "form")
          .form-group
            label.col-sm-2.control-label(for = "task_name_input")
              | Name
            .col-sm-10
              input#task_name_input.form-control(type = "text", placeholder = "Name")
        button.btn.add-task-btn
          | Add Task

block includes
  include ../../dashboard/views/includes/includes
  script(src = "/static/js/tasker.js")
  script(src = "/static/js/main.js")
